@import '/src/style/global';
@import '/src/style/mixins';

.contact-section {
  min-height: 100vh;
  display: flex;

  @include max-mobile {
    flex-direction: column;
  }

  @include max-tablet {
    min-height: 60vh;
  }

  .left-section {
    background-color: $base-green;
    flex-basis: 50%;
    padding: 5vh;
    text-align: left;
    position: relative;
    max-width: 50vw;

    @include max-mobile {
      flex-basis: 100%;
      max-width: 100vw;
    }

    @include max-tablet {
      padding: 4vh;
    }

    .title {
      @include title($base-cream);
      margin-bottom: 8vh;

      @include max-mobile {
        position: static;
        margin-bottom: 0;
      }

      @include max-tablet {
        margin-bottom: 12vh;
      }
    }

    .notes {
      position: absolute;
      color: $base-cream;
      font-size: 2vh;
      bottom: 5vh;

      @include max-mobile {
        width: 100%;
        position: static;
      }

      @include max-tablet {
        width: 70%;
        font-size: 1.6vw;
      }
    }
  }

  .right-section {
    background-color: $base-blue;
    flex-basis: 50%;
    padding: 5vh;
    text-align: left;
    max-width: 50vw;

    @include max-mobile {
      flex-basis: 100%;
      max-width: 100vw;
    }

    @include max-tablet {
      padding: 4vh;
    }

    .social-container {
      // padding: 10vh;

      @include max-mobile {
        padding: 0;
      }

      @include max-tablet {
        padding: 0;
      }

      .right-side {
        display: flex;
        justify-content: flex-end;

        .item-container {
          justify-content: flex-end;

          .title {
            text-align: right;
            margin-right: 3vh;

            @include max-mobile {
              margin-right: 2vh;
            }

            @include max-tablet {
              margin-left: 0;
              margin-right: 1.5vw;
            }

            .link {
              text-align: right;
            }
          }
        }
      }

      .item-container {
        // width: 15vh;
        aspect-ratio: 1/1;
        height: 15vh;
        padding: 2vh;
        cursor: pointer;
        margin-bottom: 5vh;
        border-radius: 1vh;
        position: relative;
        background-color: $base-cream;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include max-mobile {
          height: 10vh;
        }

        @include max-tablet {
          // width: 4vw;
          height: 7vw;
          margin-bottom: 3vw;
          padding: 1vw;
        }

        @include max-small-mobile {
          height: 8vh;
        }

        .social-image {
          object-fit: contain;
          height: 80%;

          @include max-mobile {
            height: 70%;
          }

          @include max-tablet {
            height: 90%;
          }

          @include max-small-mobile {
            height: 60%;
          }
        }

        .title {
          font-size: 3.3vh;
          font-weight: 600;
          margin-left: 3vh;
          white-space: nowrap;
          color: $base-blue;

          @include max-mobile {
            font-size: 2.5vh;
            white-space: pre-wrap;
            margin-left: 2vh;
          }

          @include max-tablet {
            font-size: 2vw;
            white-space: pre-wrap;
            line-height: 120%;
            margin-left: 1.5vw;
          }

          @include max-small-mobile {
            font-size: 2.3vh;
          }

          .link {
            font-style: italic;
            font-size: 1.6vh;

            @include max-mobile {
              white-space: wrap;
              font-size: 1.2vh;
            }

            @include max-tablet {
              white-space: wrap;
              font-size: 1.2vw;
            }

            @include max-small-mobile {
              font-size: 1vh;
            }
          }
        }
      }
    }
  }
}
