@import '/src/style/global';
@import '/src/style/mixins';

.contact-section {
  min-height: 100vh;
  display: flex;

  @include max-mobile {
    flex-direction: column;
  }

  .left-section {
    background-color: $base-green;
    flex-basis: 50%;
    padding: 5vh;
    text-align: left;
    position: relative;

    @include max-mobile {
      flex-basis: 100%;
    }

    .title {
      font-size: 7vh;
      color: $base-cream;
      font-weight: bold;
      position: sticky;
      margin-bottom: 8vh;
      top: 3vh;

      @include max-mobile {
        position: static;
        margin-bottom: 0;
        font-size: 5vh;
      }
    }

    .notes {
      position: absolute;
      color: $base-cream;
      font-size: 2vh;
      bottom: 5vh;

      @include max-mobile {
        width: 100%;
        position: static;
      }
    }
  }

  .right-section {
    background-color: $base-blue;
    flex-basis: 50%;
    padding: 5vh;
    text-align: left;

    @include max-mobile {
      flex-basis: 100%;
    }

    .social-container {
      padding: 10vh;

      @include max-mobile {
        padding: 0;
      }

      .right-side {
        display: flex;
        justify-content: flex-end;

        .item-container {
          justify-content: flex-end;

          .title {
            margin-right: 3vh;
            font-size: 3.3vh;
            font-weight: 600;
            white-space: nowrap;
            color: $base-blue;
            text-align: right;

            @include max-mobile {
              white-space: wrap;
              font-size: 2vh;
            }

            .link {
              text-align: right;
              font-style: italic;
              font-size: 1.4vh;

              @include max-mobile {
                font-size: 1.2vh;
              }
            }
          }
        }
      }

      .item-container {
        width: 15vh;
        height: 15vh;
        padding: 2vh;
        cursor: pointer;
        margin-bottom: 5vh;
        border-radius: 1vh;
        position: relative;
        background-color: $base-cream;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include max-mobile {
          width: 10vh;
          height: 10vh;
        }

        @include max-small-mobile {
          width: 8vh;
          height: 8vh;
        }

        .social-image {
          object-fit: contain;
          height: calc(100%);

          @include max-mobile {
            height: 70%;
          }

          @include max-small-mobile {
            height: 60%;
          }
        }

        .title {
          font-size: 3.3vh;
          font-weight: 600;
          margin-left: 3vh;
          white-space: nowrap;
          color: $base-blue;

          @include max-mobile {
            font-size: 2vh;
          }

          .link {
            font-style: italic;
            font-size: 1.4vh;

            @include max-mobile {
              white-space: wrap;
              font-size: 1.2vh;
            }
          }
        }
      }
    }
  }
}
