@import '/src/style/global';
@import '/src/style/mixins';

.works-section {
  min-height: 100vh;
  display: flex;

  @include max-mobile {
    flex-direction: column;
  }

  .left-section {
    background-color: $base-cream;
    flex-basis: 50%;
    padding: 5vh;
    text-align: left;
    max-width: 50vw;

    @include max-mobile {
      flex-basis: 100%;
      max-width: 100vw;
    }

    @include max-tablet {
      padding: 3vw;
    }

    .title {
      @include title($base-blue);
      margin-bottom: 20vh;

      @include max-mobile {
        margin-bottom: 0;
      }
    }

    .decoration-1 {
      height: 10vh;
      width: 100%;
      background-color: $base-green;
      color: $base-cream;

      @include max-mobile {
        height: 7vh;
      }

      @include max-tablet {
        height: 6.5vw;
      }
    }
  }

  .right-section {
    background-color: $base-orange;
    flex-basis: 50%;
    padding: 5vh;
    max-width: 50vw;

    @include max-mobile {
      flex-basis: 100%;
      max-width: 100vw;
    }

    @include max-tablet {
      padding: 3vw;
    }

    .item-container {
      padding: 5vh;

      @include max-mobile {
        padding: 0;
        padding-bottom: 5vh;
      }

      @include max-tablet {
        padding: 0;
        padding-bottom: 5vw;
      }

      .image-container {
        width: calc(100% - 2vh);
        aspect-ratio: 3/2;
        position: relative;

        .image {
          object-fit: cover;
          width: 100%;
          height: 100%;
          z-index: 9999;
          border: 0.6vh solid $base-orange;
          position: relative;

          @include max-tablet {
            border: 0.5vw solid $base-orange;
          }
        }

        .shadow {
          content: '';
          width: 100%;
          aspect-ratio: 3/2;
          background: $base-blue;
          position: absolute;
          z-index: 998;
          left: 1vw;
          top: 1vw;

          @include max-mobile {
            left: 3.2vw;
            top: 3.2vw;
          }

          @include max-tablet {
            left: 1.6vw;
            top: 1.6vw;
          }
        }
      }

      .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5vh;

        @include max-mobile {
          margin-top: 2.5vh;
        }

        @include max-tablet {
          margin-top: 2vw;
        }

        .title {
          font-size: 3vh;
          font-weight: 600;
          color: $base-cream;
          padding-right: 2vh;

          @include max-mobile {
            font-size: 2.5vh;
            width: 80%;
          }

          @include max-tablet {
            font-size: 2vw;
            width: 70%;
          }
        }

        .button {
          width: 10vh;
          color: $base-blue;
          padding: 1vh;
          font-size: 2vh;
          text-align: center;
          cursor: pointer;
          background-color: $base-cream;
          font-weight: 700;

          @include max-mobile {
            width: 8vh;
            padding: 1vh;
            font-size: 1.6vh;
          }

          @include max-tablet {
            width: 5.5vw;
            padding: 1vw;
            font-size: 1.4vw;
          }
        }
      }
    }
  }
}
