@mixin max-mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin max-tablet {
  @media (max-width: 920px) and (min-width: 768px) {
    @content;
  }
}

@mixin max-small-mobile {
  @media (max-width: 380px) {
    @content;
  }
}

@mixin title($color) {
  font-size: 7vh;
  color: $color;
  font-weight: bold;
  position: sticky;
  top: 3vh;

  @include max-mobile {
    font-size: 5vh;
  }

  @include max-tablet {
    font-size: 4vw;
  }
}
