@import '/src/style/global';
@import '/src/style/mixins';

.container {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  background-color: $base-cream;

  .back-button {
    width: 1.5rem;
    cursor: pointer;
    height: 1.5rem;
    top: 2vw;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $base-cream;
    overflow: hidden;
    flex-direction: row;
    white-space: nowrap;
    left: 2vw;
    padding: 1rem;
    border-radius: 2rem;
    background-color: $base-orange;
    opacity: 0.4;

    @include max-mobile {
      width: 1rem;
      height: 1rem;
    }

    img {
      height: 100%;
    }

    span {
      margin-left: 1rem;
      font-weight: 600;
    }
  }

  .content {
    // width: 100%;
    position: relative;
    z-index: 99;
    padding: 5% 20%;
    color: $base-blue;
    overflow: hidden;

    @include max-mobile {
      padding: 20% 5%;
    }

    @include max-tablet {
      padding: 10% 5%;
    }

    .image-container {
      width: 100%;
      margin: auto;
      margin-bottom: 2vw;
      border-radius: 2rem;
      overflow: hidden;

      @include max-mobile {
        width: 100%;
      }

      @include max-tablet {
        width: 100%;
      }

      img {
        width: 100%;
        border-radius: 2rem;
        object-fit: cover;
      }
    }

    .title {
      font-size: 1.7rem;
      text-align: center;
      font-weight: 600;
    }

    .children {
      position: relative;
      z-index: 99;
      margin-top: 2rem;
      overflow: hidden;

      .section {
        margin-bottom: 3rem;

        .section-title {
          font-size: 1.4rem;
          font-weight: 600;
          margin-bottom: 0.6rem;
        }

        .section-content {
          text-align: justify;

          .highlight {
            background: $base-blue;
            color: $base-cream;
            padding-left: 0.4rem;
            padding-right: 0.4rem;
          }

          img {
            width: 15%;
          }
        }
      }
    }
  }
}
