@import '/src/style/global';
@import '/src/style/mixins';

.introduction-section {
  min-height: 100vh;
  display: flex;

  @include max-mobile {
    flex-direction: column;
  }

  .left-section {
    background-color: $base-cream;
    flex-basis: 50%;
    padding: 5vh;
    text-align: left;
    max-width: 50vw;

    @include max-mobile {
      flex-basis: 100%;
      max-width: 100vw;
    }

    @include max-tablet {
      padding: 3vw;
    }

    .top {
      margin-bottom: 25vh;
      top: calc(50% - 25vh);
      position: sticky;

      @include max-mobile {
        margin-bottom: 35vh;
      }

      @include max-small-mobile {
        margin-bottom: 40vh;
      }

      @include max-tablet {
        margin-bottom: 60%;
      }

      .big-text {
        font-size: 15vh;
        font-weight: bold;
        color: $base-blue;

        @include max-mobile {
          font-size: 12vh;
        }

        @include max-tablet {
          // font-size: 8vh;
          font-size: 8vw;
        }
      }
    }

    .short-desc {
      color: $base-blue;
      font-size: 5vh;
      font-weight: 600;

      @include max-mobile {
        font-size: 3.8vh;
      }

      @include max-tablet {
        font-size: 3.2vw;
      }

      .title-text {
        font-size: 5.5vh;
        color: $base-green;
        font-weight: 700;

        @include max-mobile {
          font-size: 4.5vh;
        }

        @include max-tablet {
          font-size: 3.2vw;
        }
      }
    }

    .long-desc {
      margin-top: 50vh;
      color: $base-blue;
      font-size: 3vh;

      @include max-mobile {
        font-size: 2.5vh;
      }

      @include max-tablet {
        margin-top: 80vh;
        font-size: 2vw;
      }
    }
  }

  .right-section {
    background-color: $base-orange;
    flex-basis: 50%;
    padding: 5vh;
    text-align: center;
    max-width: 50vw;

    @include max-mobile {
      flex-basis: 100%;
      max-width: 100vw;
    }

    @include max-tablet {
      padding: 3vw;
    }

    .foto {
      width: 30vh;
      margin-bottom: 20vh;
      position: sticky;
      top: calc(50% - 25vh);

      @include max-mobile {
        width: 20vh;
        margin-bottom: 0;
      }

      @include max-tablet {
        // top: 15vw;
        width: 22vw;
      }
    }
  }
}
